#This is for digital ocean deployment
version: "3.9"

services:

  api:
    # image: <dockerhub-username>/uniconn-api:latest NEED TO FETCH FROM DOCKERHUB LATER
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.api.rule=Host(`your-domain.com`)"
        - "traefik.http.services.api.loadbalancer.server.port=8080"
    env_file:
      - ../../uniconn-backend/.env
    networks:
      - web
      - internal
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    deploy:
      placement:
        constraints:
          - node.role == manager
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - internal

networks:
  web:
    external: true
  internal:
    driver: overlay

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/do-volume/uniconn-db
