version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - /home/uniconn/uniconn-deploy/ECE1779_PROJECT/devops/docker/swarm/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    deploy:
      placement:
        constraints:
          - node.role == manager
    networks:
      - uniconn_internal
      - traefik-public
  node-exporter:
    image: prom/node-exporter:latest
    command:
      - "--path.rootfs=/host"
    volumes:
      - "/:/host:ro,rslave"
    ports:
      - "9100:9100"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    networks:
      - uniconn_internal
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    deploy:
      placement:
        constraints:
          - node.role == manager
    networks:
      - uniconn_internal
      - traefik-public

networks:
  uniconn_internal:
    external: true
  traefik-public:
    external: true

