version: "3.9"

services:
  registry:
    image: registry:2
    ports:
      - "5000:5000"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    volumes:
      - registry-data:/var/lib/registry
    networks:
      - traefik-public

networks:
  traefik-public:
    external: true

volumes:
  registry-data:
